<app-navbar></app-navbar>
<div class="container text-center" id="home">
    <h1 class="my-5">Benvenuto sulla home page</h1>
</div>
<div class="container mt-5 d-flex justify-content-evenly">
    <button class="btn btn-warning me-3 text-white fw-bold rounded-pill" [routerLink]="['/post']" routerLinkActive="active" id="ricette">Tutte le ricette</button>
    <button class="btn text-white fw-bold rounded-pill" [routerLink]="['/addPost']" routerLinkActive="active" id="aggiungi">Aggiungi ricetta</button>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>

