<app-navbar></app-navbar>
<div class="container" id="antipasti">
    <div class="container d-flex justify-content-center mt-3" id="loading">
        <div class="spinner-border d-flex justify-content-center" role="status" *ngIf="loading">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <h2 class="title text-center mt-2">Ricette di antipasti gustosi:</h2>
    <div class="card my-4" *ngFor="let post of posts">
        <div class="card-body">
            <h3 class="card-title fw-bold">{{ post.title }}</h3>
            <p class="card-text">{{ post.body }}</p>
            <div class="container text-center mt-4 mb-2">
                <button type="button" class="btn btn-success me-4 text-white fs-5 rounded-circle"
                    [routerLink]="['/edit', post.id]" routerLinkActive="router-link-active"><i
                        class="bi bi-pencil"></i></button>
                        <button type="button" class="btn btn-warning text-white me-4 rounded-pill"
                    [routerLink]="['/dettagli', post.id]" routerLinkActive="router-link-active">Leggi ricetta <i
                        class="bi bi-chevron-right"></i></button>
                <button type="button" class="btn btn-danger text-white fs-5 rounded-circle"
                    (click)="cancella(post.id)"><i class="bi bi-trash3"></i></button>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary mt-5 text-white fs-5" [routerLink]="['/']" routerLinkActive="router-link-active"><i class="bi bi-arrow-left"></i></button>
</div>
<app-footer></app-footer>
