
.titoli {
    font-size: 30px;
    background: linear-gradient(to right, #9d30d0 10%, #ea8007 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    background-clip: text;
}
.card-header {
    border: none;
}

