<div class="container">
    <div class="container d-flex justify-content-center mt-3" id="loading">
        <div class="spinner-border d-flex justify-content-center" role="status" *ngIf="loading">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row">

        <div class="col-3 card d-flex mx-3 mb-3 px-0" *ngFor="let post of posts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" style="width: 18rem;">
            <img src="{{post.img1}}" class="card-img-top img-fluid" alt="{{post.title}}">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{post.body}}</p>
                <p>Categoria: {{post.categoria | uppercase}}</p>
                <div class="container text-center mt-4 mb-2">
                    <button type="button" class="btn border-0 me-4 text-white fs-5" [routerLink]="['/edit', post.id]"
                        routerLinkActive="router-link-active"><i class="bi bi-pencil-fill text-success"></i></button>
                    <button type="button" class="btn border-0 me-4 text-white fs-5"
                        [routerLink]="['/dettagli', post.id]" routerLinkActive="router-link-active"><i
                            class="bi bi-eye text-primary"></i></button>
                    <button type="button" class="btn border-0 text-white fs-5" (click)="cancella(post.id)"><i
                            class="bi bi-trash3 text-danger"></i></button>
                </div>
            </div>
        </div>
    </div>

    <ngb-pagination [collectionSize]="posts!.length" [(page)]="page" [boundaryLinks]="true">
        <ng-template ngbPaginationPages let-page let-pages="pages">
            <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                <div class="mb-3 d-flex flex-nowrap px-2">
                    <label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1">Page</label>
                    <input #i type="text" inputmode="numeric" pattern="[0-9]*" class="form-control custom-pages-input"
                        id="paginationInput" [value]="page" (keyup.enter)="selectPage(i.value)"
                        (blur)="selectPage(i.value)" (input)="formatInput($any($event).target)"
                        aria-labelledby="paginationInputLabel paginationDescription" style="width: 2.5rem" />
                    <span id="paginationDescription" class="col-form-label text-nowrap px-2"> of
                        {{pages.length}}</span>
                </div>
            </li>
        </ng-template>
    </ngb-pagination>
</div>
