<div class="container">
    <div class="container d-flex justify-content-center mt-3" id="loading">
        <div class="spinner-border d-flex justify-content-center" role="status" *ngIf="loading">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="card my-4" *ngFor="let post of posts">
        <h4 class="card-header">Post</h4>
        <div class="card-body">
            <p class="card-text">{{ post.id }}</p>
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body }}</p>
            <div class="container text-center">
                <button type="button" class="btn btn-success me-4" [routerLink]="['/edit', post.id]" routerLinkActive="router-link-active">Edit</button>
                <button type="button" class="btn btn-primary me-4" [routerLink]="['/dettagli', post.id]" routerLinkActive="router-link-active">View</button>
                <button type="button" class="btn btn-danger" (click)="cancella(post.id)">Delete</button>
            </div>
        </div>
    </div>
</div>
